on:
  push:
    branches:
      - master
jobs:
  workflow:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
          submodules: true
      - run: bash .github/workflows/record_sha.sh
      - run: bash .github/workflows/validate_and_test.sh
      - run: bash .github/workflows/build_exe.sh
      - run: bash .github/workflows/build_tar.sh

      # # # https://github.com/softprops/action-gh-release
      # - name: Release
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     tag_name: ${{ github.sha }}
      #     name: ${{ github.event.commits[0].message }}
      #     files: TekkenBotPrime.tar
